{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h1>Selamat Datang di Website Resmi</h1>
    <h3>SMPN 2 Nagrak</h3>
    <p class="mt-3">
        Website ini merupakan sistem informasi sekolah berbasis web
        yang terintegrasi dengan analisis risiko akademik siswa.
    </p>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h5>Fasilitas Sekolah</h5>
                <p>Informasi fasilitas unggulan sekolah.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h5>Prestasi Siswa</h5>
                <p>Data prestasi akademik dan non akademik.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body text-center">
                <h5>Analisis Risiko Akademik</h5>
                <p>Fitur machine learning untuk deteksi dini.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}